.main_container{
    display: flex;
    height: 100vh;
    padding: 25px;
    flex-direction: column;
}
.header{
    flex: 1;
    background-color: red;
}
.tv_show_detail{
    flex: 2;
    background-color: blue;
}
.recommendations{
    flex: 1;
    background-color: green;
}